.cover__bg {
  max-width: 1184px;
  height: 740px;
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}