.places__title {
  grid-area: title;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-kerning: none;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 767px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}