.places__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  display: block;
  margin: 10px 0 0;
  transition: opacity .2s linear;
}

.places__link:hover {
  opacity: .8;
}