.header {
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 0 0;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .header {
    width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 90%;
    padding: 16px 0 0;
  }
}