.header__link {
  width: 30px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 14px 0 0;
  transition: opacity .2s linear;
}

.header__link:last-child {
  margin: 0;
}

.header__link:hover {
  opacity: .8;
}