.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 32px auto 0;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
    letter-spacing: normal;
  }
}