.place {
  display: grid;
  grid-template-columns: 1fr 484px;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title link"
    "img paragraphs";
    gap: 48px 40px;
  border: 3px solid seagreen;
}